<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head",{view :  product.name} ) %>


  <body class="vista-producto">

    <%- include("../partials/header", {productos: "black" , registro: true,ingreso: true}) %>



      <main class="vista-producto">
        <div class="contenedor-busqueda">
          <a href="/" class="inicio">Inicio/</a>
          <a href="/productDetail" class="productos">Productos/</a>
          <a href="#" class="abrigos">
            <%= product.category %>/
          </a>
          <a class="blazer">
            <%= product.name %>
          </a>
        <!-- </div> -->


        <!---CONTENEDORES DE LAS VISTAS DEL PRODUCTO-->




        <section class="visualizacion-producto">

          <div class="contenedor-vistas-imagenes">

            <div class="glider-contain">
              <div class="glider">
                <!--img 1-->
                <% if (product.imagePrincipal) { %>
                  <div>
                    <div class="contenedor-blazerOver-principal">
                      <i class="fa-solid fa-magnifying-glass"></i>
                      <i class="fa-regular fa-heart"></i>
                      <div class="contenedor-img-principal">
                        <img class="blazer-over-principal" src="/images/products/<%= product.imagePrincipal %>"
                          alt="<%= product.name %>">
                      </div>
                    </div>
                  </div>
                  <% } else {%>
                    <% } %>

                      <!--img 2-->
                      <% if (product.imagePrincipal) { %>

                        <div>

                          <div class="contenedor-blazerOver-principal">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-regular fa-heart"></i>
                            <div class="contenedor-img-principal">
                              <img class="blazer-over-principal" src="/images/products/<%= product.imagePrincipal %>"
                                alt="<%= product.name  %>">
                            </div>
                          </div>

                        </div>
                        <% } else { %>

                          <% } %>

                            <!--img 3-->
                            <% if (product.imagePrincipal) { %>
                              <div>
                                <div class="contenedor-blazerOver-principal">
                                  <i class="fa-solid fa-magnifying-glass"></i>
                                  <i class="fa-regular fa-heart"></i>
                                  <div class="contenedor-img-principal">
                                    <img class="blazer-over-principal" src="/images/products/<%= product.imagePrincipal%>"
                                      alt="<%= product.name %>">
                                  </div>
                                </div>

                              </div>
                              <% } else {%>

                                <% } %>

                                  <!--img 4-->
                                  <% if (product.imagePrincipal) { %>

                                    <div>

                                      <div class="contenedor-blazerOver-principal">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                        <i class="fa-regular fa-heart"></i>
                                        <div class="contenedor-img-principal">
                                          <img class="blazer-over-principal"
                                            src="/images/products/<%= product.imagePrincipal%>" alt="<%= product.name %>">
                                        </div>
                                      </div>
                                      <!-- contenedor-img-4 -->
                                    </div>
                                    <% } else { %>

                                      <% } %>


              </div>
              <% if (product.imagePrincipal) { %>
                <button aria-label="Previous" class="glider-prev"><i class="fa-solid fa-angle-left"></i></button>
                <button aria-label="Next" class="glider-next"><i class="fa-solid fa-angle-right"></i></button>
                <% } else {%>
                  <% } %>
                    <div rol="tablist" class="dots"></div>
            </div>

          </div>





          <!--CONTENEDOR GLOBAL DE TODA LA DATA DEL PRODUCTO QUE NO SEAN FOTOS-->
          <div class="contenedor-global-info-producto">


            <!---CONTENEDOR DE DATOS PRINCIPALES DEL PRODUCTO NOMBRE-PRECIO-TALLE-->
            <div class="nombre-precio-talle">
              <h2 class="blazer-over">
                <%= product.name%>
              </h2>
              <P class="precio">$<%= toThousand (product.price) %>
              </P>
              <P class="talle">TALLE: <span>2</span></p>

              <p>colores</p>

              <div>

                <% colors.forEach(color => { %>


 

            
                  <% if (product.colors.name.includes("black")) { %>
                    <button class="colores"
                      style="background-color: #000000; border-radius: 100px; height: 25px; width: 25px;"></button>
                    <% } else { %>
                      <% } %>
                        <% if (product.colors.name.includes("beige")) { %>
                          <button class="colores"
                            style="background-color: #f5f5dc; border-radius: 100px; height: 25px; width: 25px;"></button>
                          <% } else { %>
                            <% } %>
                              <% if (product.colors.name.includes("blue")) { %>
                                <button class="colores"
                                  style="background-color: #0000ff; border-radius: 100px; height: 25px; width: 25px;"></button>
                                <% } else { %>
                                  <% } %>
                                    <% if (product.colors.name.includes("white")) { %>
                                      <button class="colores"
                                        style="background-color: #ffffff; border-radius: 100px; height: 25px; width: 25px;"></button>
                                      <% } else { %>
                                        <% } %>
                                          <% if (product.colors.name.includes("red")) { %>
                                            <button class="colores"
                                              style="background-color: #ff0000; border-radius: 100px; height: 25px; width: 25px;"></button>
                                            <% } else { %>
                                              <% } %>
                                                <% if (product.colors.name.includes("green")) { %>
                                                  <button class="colores"
                                                    style="background-color: #008000; border-radius: 100px; height: 25px; width: 25px;"></button>
                                                  <% } else { %>
                                                    <% } %>
                                                      <% if (product.colors.name.includes("purple")) { %>
                                                        <button class="colores"
                                                          style="background-color: #800080; border-radius: 100px; height: 25px; width: 25px;"></button>
                                                        <% } else { %>
                                                          <% } %>
                                                            <% if (product.colors.name.includes("orange")) { %>
                                                              <button class="colores"
                                                                style="background-color: #ffa500; border-radius: 100px; height: 25px; width: 25px;"></button>
                                                              <% } else { %>
                                                                <% } %>
                                                                  <% if (product.colors.name.includes("lightblue")) { %>
                                                                    <button class="colores" style="background-color: #add8e6; border-radius: 100px; height: 25px; width: 25px;"></button>
                                                                    <% } else { %>
                                                                      <% } %>
                                                                        <% if (product.colors.name.includes("gray")) { %>
                                                                          <button class="colores" style="background-color: #808080; border-radius: 100px; height: 25px; width: 25px;"></button>
                                                                          <% } else { %>
                                                                            <% } %>
                                                                              <% if (product.colors.name.includes("lavender")) { %>                                                                              
                                                                                <button class="colores" style="background-color: #e6e6fa; border-radius: 100px; height: 25px; width: 25px;"></button>
                                                                                <% } else { %>
                                                                                  <% } %>
                                                                                    <% if(product.colors.name.includes("pink")) {%>
                                                                                      <button class="colores" style="background-color: #ffc0cb; border-radius: 100px; height: 25px; width: 25px;"></button>
                                                                                      <% } else { %>
                                                                                        <% } %>
                                                                                          <% if (product.colors.name.includes("silver")) { %>
                                                                                            <button class="colores"
                                                                                              style="background-color: #c0c0c0; border-radius: 100px; height: 25px; width: 25px;"></button>
                                                                                            <% } else { %>
                                                                                              <% } %>
                                                                                                <% if (product.colors.name.includes("bluishGreen")) { %>
                                                                                                  <button class="colores"style="background-color: #419197; border-radius: 100px; height: 25px; width: 25px;"></button>
                                                                                                    
                                                                                                  <% } else { %>
                                                                                                    <% } %>
                                                                                                      <% if (product.colors.name.includes("gold")) { %>
                                                                                                        <button
                                                                                                          class="colores"
                                                                                                          style="background-color: #ffd700; border-radius: 100px; height: 25px; width: 25px;"></button>
                                                                                                        <% } else { %>
                                                                                                          <% } %>     
                     
                     
                                                                                                        
                                                                                                      
                                                                                                      </div>
                                                                                                      
                                                                                                      
                                                                                                    </div>
                                                                                                    
            <div class="talles">
              <% if (product.sizes[0] === true ) { %>
                <div class="uno">
                <button type="button" class="boton-uno">1
                </button>
              </div>
                <% } else { %>
                  <% } %>
                  <% if (product.sizes[1] === true ) { %>
              <div class="dos">
                <button type="button" class="boton-dos">2
                </button>
              </div>
              <% } else { %>
                <% } %>
                <% if (product.sizes[2] === true ) { %>
              <div class="tres">
                <button type="button" class="boton-tres">3
                </button>
              </div>
              <% } else { %>
                <% } %>
                <% if (product.sizes[3] === true ) { %>
              <div class="cuatro">
                <button type="button" class="boton-cuatro">4
                </button>
              </div>
              <% } else { %>
                <% } %>
                <% if (product.sizes[4] === true ) { %>
              <div class="cinco">
                <button type="button" class="boton-cinco">5
                </button>
              </div>
              <% } else { %>
                <% } %>
                <% if (product.sizes[5] === true ) { %>
              <div class="seis">
                <button type="button" class="boton-seis">6
                </button>
              </div>
              <% } else { %>
                <% } %>

            </div>

            <div class="cantidad-carrito">
              <form class="form-carrito" action="/productDetail" method="POST">
                <label class="label-carrito" for="cantidad">CANTIDAD</label>
                <input class="input-carrito" type="number" name="cantidad" value="" id="cantidad" placeholder="1">
                <div class="contenedor-boton-carrito">
                  <button type="submit" class="agregar-carrito"><a href="/carrito">AGREGAR AL CARRITO</button>
                </div>
              </form>
            </div>

            <!---CONTENEDOR ENVIO Y MEDIOS DE ENVIO-->

            <div class="envio">
              <form action="/productDetail" method="POST" class="form-carrito">
                <i class="fa-solid fa-truck"></i>
                <label class="label-carrito" for="medioEnvio">Medios de envío</label>
                <input class="input-carrito" type="number" name="envio" value="" id="medioEnvio"
                  placeholder="Tu código postal">
                <button type="submit" class="boton-calcular">CALCULAR</button>
                <p class="nose-postal">No sé mi código postal</p>
              </form>
            </div>

            <!---CONTENEDOR DE INFO ADICIONAL PARA LA COMPRA-->

            <article class="info-adicional-compra">
              <div class="detalle-talles">
                <i class="fa-solid fa-ruler-combined"></i>
                <h3 class="talles">Guía de talles</h3>
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cambiosDevo">
                <i class="fa-solid fa-arrows-rotate"></i>
                <h3 class="cambios">Cambios y devoluciones</h3>
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="formaPago">
                <i class="fa-solid fa-id-card"></i>
                <h3 class="formaPago">Forma de pago</h3>
                <i class="fa-solid fa-plus"></i>
              </div>
            </article>

          </div>

        </section>

        <!---------------DESCRIPCIÓN DESTACADA DEL PRODUCTO MÁS EXTENSA------->

        <article class="contenedor-descripcion">
          <p class="descripcion">
            <%= product.description%>
          </p>
          <h5 class="descripcion-destacada">
            <%= product.featuredDescription %>
              </p>
        </article>

        <!-----OTROS PRODUCTOS------->
        <!-- <section class="otrosFav">
          <h3 class="otrosFav">OTROS FAV</h3>
          <div class="contenedor-otros-productos">
      <%#  products.forEach((p, index) => { %>
          
          <%#  if(index <= 3) { %>
              
                  <article class="productos-otrosFav dos-continentes">
                    <img class="blazer-dos-conti" src="/images/products/<%#= p.image[0]%>" alt="<%#= p.name%>">
                    <a href="/producto-detalle/<%#= p.id%>" class="a-dos-conti">
                      <h4 class="h4-dos-conti"><%#= p.name%></h4>
                    </a>
                    <p class="p-dos-conti"><%#= p.price%></p>
                  </article>
                  
          <%# }  %>         
          <%# })  %>  
      </div>
        </section>  -->
        <section class="otrosFav">
          <h3 class="otrosFav">OTROS FAV</h3>
          <div class="contenedor-otros-productos">
            <%  products.forEach((p, index) => { %>
              
              <% if(index <= 3) { %>
                <article class="productos-otrosFav dos-continentes">
                  <img class="blazer-dos-conti" src="/images/products/<%= p.imagePrincipal %>" alt="<%= p.name %>">
                  <a href="/producto-detalle/<%= p.id %>" class="a-dos-conti">
                    <h4 class="h4-dos-conti"><%= p.name %></h4>
                  </a>
                  <p class="p-dos-conti"><%= p.price %></p>
                </article>
              <% } %>
              
            <% }) %>
          </div>
        </section>
        
      

        <div class="boton-whatsapp">
          <img src="/images/other/whatsapp.png" class="whatsapp-simbol" alt="whatsapp-símbolo" />
        </div>


        <!--------IMAGEN DE CIERRE CON MENSAJE DE LA MARCA------------->

        <div class="imagen-cierre">

          <img src="/images/banner/mensaje-de-la-marca-desktop-tablet.png" alt="banner_inferior"
            class="imagen-cierre-desk-tablet">
          <img src="/images/banner/mensaje-de-la-marca-phone.png" alt="mensaje marca mobile"
            class="imagen-cierre-mobile">
        </div>


        <!-- este codigo es para indentificar una palabra dentro de un array -->

      </main>
      <%- include("../partials/footer") %>


        <!--SCRIPT DE GLIDER-->
        <script src="/js/library/glider.min.js"></script>

        <!--SCRIPT DE CONFIGS GLIDER-->
        <script src="/js/configs/glider.js"></script>


  </body>

</html>