<!DOCTYPE html>
<html lang="es">


<%- include("../partials/head") %>

  <body>
    <%- include("../partials/header", {results : "black" , registro: true,ingreso: true }) %>
      <main>
        <div class="nombre-busqueda">
          <h2>Resultados de la búsqueda:<%= keywords%>
          </h2>
        </div>

        <div class="resultados">
          <% products.forEach(p=> { %>
            <div class="producto">
              <a href="/producto-detalle/<%= p.id%>">
                <%  p.images.forEach((img, inde) => { %>
                <%  if(inde <= 0) { %>
              <img src="/images/products/<%= img.name%>" alt="<%= img.name%>">
              <%  } %>
              <%  }) %>
              <p class="producto-nombre"><%= p.name%></p>
              <p class="precio">$<%=toThousand(p.price)%></p>
          </a>
            </div>
            <% }) %>
        </div>
        <% if (products.length) { %>
					

				
          <% } else   { %>
            <div class="nombre-busqueda">
            <h2 class="" style="color: tomato;">No hay productos que coincidan con esa
              búsqueda</h2>
              <img  class="error"   src="../../../images/other/error 404 zinke.png" alt="error">
          </div>
            <% } %>
      </main>
      <%- include("../partials/footer") %>
  </body>

</html>