<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head", {view : "login"}) %>


    
</head>

<body>
    <%- include("../partials/header", {registro:true ,ingreso: false}) %>

    <main class="login">

        <form action="/autenticacion/iniciar" method="POST" class="contenedor-main">

            <h3 class="titulo-login-inputs">Iniciar sesion</h3>
            <div class="form-group div-login-email">
            
                <input class="form-control input-email-login input-login <%= locals?.errors?.email ? 'input-invalid' : 'white-bar' %>"  id="email-login"   type="email" name="email" value="<%= locals?.email %>" placeholder="Correo electrónico">
                <p class="text-danger error-email"></p>
                <span class="text-danger" style="font-size: var(--letra-bastante-pequeña);"><%= locals?.errors?.email?.msg%></span>
            </div>
           

            <div class="form-group">
                <input class="form-control input-pass-login input-login <%= locals?.errors?.password ? "input-invalid" : "white-bar" %>" type="password" name="password" value="" placeholder="Contraseña">
                <p class="text-danger error-password"></p>
            </div>
            <span class="text-danger" style="font-size: var(--letra-bastante-pequeña);"><%= locals?.errors?.password?.msg%></span>

            <div class="contenedor-opciones">

                <h3 class="subtitulo">¿Olvidaste tu contraseña?</h3>
                <h3 class="subtitulo">¿No tenés cuenta? <b><a href="/autenticacion/registrar" class="registrateLogin">Regístrate</a></b></h3>
            </div>
            <div>
            <input type="checkbox" name="recordame">
            <label for="">recordame</label>
        </div>


            <div class="contenedor-boton-login">
                <button type="submit" class="boton-login">ENVIAR</button>
                <p class="text-danger col-12 text-center err-form-login"></p>
            </div>


        </form>


                        <!-----------REGISTRO CON REDES SOCIALES--------------->
                        <article class="article-redes-sociales-register">
                            <h3 class="redes-sociales-register-titulo">Ingresar con...</h3>
                            <div class="imagenes-redes-sociales">
                                <a href="/autenticacion/iniciar/facebook">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                                <a href="/autenticacion/iniciar/twitter">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
            
                                <a href="/autenticacion/iniciar/google">
                                    <i class="fa-brands fa-google"></i>
                                </a>
                            </div>
                        </article>
                        
    </main>


    <%- include("../partials/footer")  %>

    <!-- Bootstrap Script -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script> -->
<script src="/js/functions/loginValidacion.js"></script>
</body>

</html>

