<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head", {view : "login"}) %>


    
</head>

<body>
    <%- include("../partials/header", {registro:true ,ingreso: false}) %>

    <main class="login">

        <form action="/autenticacion/iniciar" method="POST" class="contenedor-main">

            <h3 class="titulo-login-inputs">Iniciar sesion</h3>
            <div>
                <input class="<%= locals?.errors?.email ? "input-invalid" : "white-bar" %>" type="email" name="email" value="<%= locals.old?.email %>" placeholder="Correo electrónico">
            </div>
            <span class="text-danger" style="font-size: var(--letra-bastante-pequeña);"><%= locals?.errors?.email?.msg%></span>

            <div>
                <input class="<%= locals?.errors?.password ? "input-invalid" : "white-bar" %>" type="password" name="password" value="" placeholder="Contraseña">
            </div>
            <span class="text-danger" style="font-size: var(--letra-bastante-pequeña);"><%= locals?.errors?.password?.msg%></span>

            <div class="contenedor-opciones">

                <h3 class="subtitulo">¿Olvidaste tu contraseña?</h3>
                <h3 class="subtitulo">¿No tenés cuenta? <b><a href="/autenticacion/registrar" class="registrateLogin">Regístrate</a></b></h3>
            </div>
            <div>
            <input type="checkbox" name="recordame">
            <label for="">recordame</label>
        </div>


            <div class="contenedor-boton-login">
                <button type="submit" class="boton-login">ENVIAR</button>
            </div>


        </form>


                        <!-----------REGISTRO CON REDES SOCIALES--------------->
                        <article class="article-redes-sociales-register">
                            <h3 class="redes-sociales-register-titulo">Ingresar con...</h3>
                            <div class="imagenes-redes-sociales">
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-google"></i>
                            </div>
                        </article>
                        
    </main>


    <%- include("../partials/footer")  %>

    <!-- Bootstrap Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>