<header>
    <div class="encabezado">
        <marquee>
            <p class="descuento">15% off por transferecia - 3 cuotas sin interés envío gratis a partir de los $30.000
            </p>
        </marquee>
    </div>
    <div class="header-vista-movil">
        <div class="logo">

            <img src="/images/icon/imagen-header.ico" alt="img-logo" class="img-header">
            <i class="zinke">zinke</i>
            <p class="lema">inspirate en tus instintos</p>
        </div>

        <div class="redirecciones">

            <!-- <input type="checkbox" id="menu" class="input-menu"> -->
            <label for="menu" class="menu"> <i class="fa-solid fa-bars hambuerguesa"></i></label>


       
            <div class="seleccionar-destino">
                <!-- <label for="menu" class="menu"> <i class="fa-solid fa-bars"></i> </label> -->
                <form action="/resultados" method="get" class="form-busqueda-movil">
                    <input type="text" name="keywords" placeholder="¿que estas buscando?" class="barra-busqueda-movil" value="<%= typeof keywords !== 'undefined' ? keywords : '' %>"
                        required>
                    <button class="boton-buscar-movil"><i class="fa-solid fa-magnifying-glass "></i></button>
                    </p>
                </form>



            </div>

        </div>
        <input type="checkbox" id="menu" class="input-menu">
        <div class="ul-menu">


            <div class="home"><a href="<%= locals.home ? '#'  : '/' %>"><i class="fa-solid fa-house"
                        style="<%= locals.home ? 'color: ' + home + ';' : 'color: gray;' %>"></i>&nbsp;inicio</a></div>

            <div class="productos">
                <a href="<%= locals.productos ? '#'  : " /lista/productos" %>"><i class="fa-solid fa-list"
                        style="<%= locals.productos ? 'color: ' + productos + ';' : 'color: gray;' %>"></i>&nbsp;productos</a>
            </div>

            <div class="carrito">
                <a href="<%= locals.carrito ? '#'  : " /carrito" %>"><i class="fa-solid fa-cart-shopping"
                        style="<%= locals.carrito ? 'color: ' + carrito + ';' : 'color: gray;' %>"></i>&nbsp;carrito</a>
            </div>

            <% if (!locals.userLogin) { %>
                <% if (registro===false) { %>
                    <% } else { %>
                        <div class="registro">
                            <a href="/autenticacion/registrar"><i class="fa-solid fa-users"
                                    style='color: gray;'></i>&nbsp;Registrarse</a>
                        </div>
                        <% } %>

                            <% if (ingreso===false) { %>
                                <% } else { %>
                                    <div class="iniciar-session">
                                        <a href="/autenticacion/iniciar"><i class="fa-solid fa-key"
                                                style='color: gray;'></i>&nbsp;iniciar
                                            sesión</a>
                                    </div>
                                    <% } %>
                                        <% } else { %>
                                          
                                            <% if(locals.userLogin.id_rol == 2 ) {%>

                                                <div class="perfil">
                                                    <a
                                                        href="<%= locals.perfil ? '#'  : '/users/perfil-usuario/' + locals.userLogin.id %>"><i
                                                            class="fa-solid fa-user"
                                                            style="<%= locals.perfil ? 'color: ' + perfil + ';' : 'color: gray;' %>"></i>&nbsp;ver
                                                        mi perfil</a>
                                                </div>

                                                <div class="vista-admin">
                                                    <a href="/admin/productos"><i class="fa-solid fa-user"
                                                            style="<%= locals.carrito ? 'color: ' + carrito + ';' : 'color: gray;' %>"></i>&nbsp;ver
                                                        productos desde vista admin</a>
                                                </div>
                                                <div class="cerrar-sesion">
                                                    <a href="/autenticacion/cerrar-sesion" class="text-danger">
                                                        <i class="fa-solid fa-user-minus"
                                                            style='color: red;'></i>&nbsp;cerrar sesion
                                                        </a>
                                                    
                                                    <!-- <a href="/autenticacion/cerrar-sesion"> -->
                                                        <!-- <input type="checkbox" id="cerrar-session-movil" class="cerrar-session-pc-tablet">
                                                        <label for="cerrar-session-movil">
                                                        <i class="fa-solid fa-user-minus"
                                                            style='color: red;'></i>&nbsp;cerrar sesion
                                                        </label>
                                                        <nav class="cerrar-session-opciones">
                                                            <p class="texto-header-movil">¿estas seguro de cerrar session?</p>
                                                            <p
                                                            class="opciones-cerrar-session"><a href="#">si</a> &nbsp;&nbsp; <a href="#">no</a></p>
                                                        </nav> -->
                                                        <!-- </a> -->
                                                </div>
                                                <% } else { %>
                                                                                                   
                                                <div class="perfil"> 
                                                    <a href="<%= locals.perfil ? '#'  : '/users/perfil-usuario/' + locals.userLogin?.id %>/users/perfil-usuario/<%=locals.userLogin?.id%>"><i
                                                            class="fa-solid fa-user"
                                                            style="<%= locals.perfil ? 'color: ' + perfil + ';' : 'color: gray;' %>"></i>&nbsp;ver
                                                        mi perfil</a>
                                                </div>
                                                <div class="cerrar-sesion">
                                                    <a href="/autenticacion/cerrar-sesion"><i
                                                            class="fa-solid fa-user-minus"
                                                            style='color: red;'></i>&nbsp;cerrar sesion</a>
                                                </div>

                                                    <% } %>

                                                        <% } %>
                                                        <div class="carrito" style="padding-left: 10px;">
                                                            <a href="<%= locals.contactUS ? '#'  : " /contacto"%>"><i class="fa-solid fa-info"
                                                                    style="<%= locals.aboutUs ? 'color: ' + aboutUs + ';' : 'color: gray;' %>"></i>&nbsp;&nbsp;contacto</a>
                                                        </div>

                                                        <div class="carrito" style="padding-left: 10px;">
                                                            <a href="<%= locals.aboutUs ? '#'  : " /sobre-nosotros"%>"><i class="fa-solid fa-info"
                                                                    style="<%= locals.aboutUs ? 'color: ' + aboutUs + ';' : 'color: gray;' %>"></i>&nbsp;&nbsp;sobre
                                                                nosotros</a>
                                                        </div>
        </div>
    </div>

    <div class="header-vista-tablet-pc">
        <div class="logo">
            <div class="logo-zinke">
                <a href="/"><img src="/images/icon/imagen-header.ico"   alt="img-logo" class="img-header"></a>
                <p class="Zinke">zinke</p>
            </div>

            <form action="/resultados" method="get" class="barra-busqueda">
                <input type="text" name="keywords" placeholder="¿que estas buscando?" value="<%= typeof keywords !== 'undefined' ? keywords : '' %>"
                    class="barra-busqueda barra-busqueda-interior" required>
                <button class="barra-busqueda-icon"><i class="fa-solid fa-magnifying-glass "></i></button>
                </p>
            </form>
            <% if (!locals.userLogin) { %>
                <% if (registro===false) { %>
                    <% } else { %>
                        <a href="/autenticacion/registrar">
                            <p class="texto-header color-blanco">Registrarse</p>
                        </a>
                        <% } %>

                            <% if (ingreso===false) { %>
                                <% } else { %>
                                    <a href="/autenticacion/iniciar">
                                        <p class="texto-header color-blanco">Iniciar sesión</p>
                                    </a>
                                    <% } %>
                                        <% } else { %>
                                            <% if(locals.userLogin?.rol=== 2) {%>
                                                
                                                <a href="/users/perfil-usuario/<%=locals.userLogin?.id%>">
                                                    <p class="texto-header"
                                                        style="color: var(--blanco); font-size: var(--letra-mediana); margin: 0px;">
                                                        Ver mi perfil</p>
                                                </a>
                                                <a href="/admin/productos">
                                                    <p class="texto-header"
                                                        style=" color: var(--blanco);font-size: var(--letra-mediana); ">
                                                        ¡Hola, <%= userLogin.name%>! 🟠 Administrar productos</p>
                                                </a>
                                                

                                                <% } else { %>
                                                    <a href="/users/perfil-usuario/<%= locals.userLogin?.id%>">
                                                        <p class="texto-header"
                                                            style="color: var(--blanco); font-size: var(--letra-grande)">Ver
                                                            mi perfil</p>
                                                    </a>
    
    
                                                    <a>
                                                        <p class="mensaje-userLogin"
                                                            style=" color: var(--blanco);font-size: var(--letra-grande); ">
                                                            ¡Hola, <%= userLogin.name%>! ¡Vamos a brillar!
                                                            <!-- <i class="fa-solid fa-star"></i> -->
                                                        </p>
                                                    </a>

                                                    <% } %>

                                                        <% } %>

                                                            <a href="/carrito">
                                                                <i class="fa-solid fa-cart-shopping"></i>
                                                            </a>
        </div>
        <div class="redirecciones">

            <p class="texto-header"><a href="<%= locals.home ? '#'  : '/' %>" style="color: black">
                <% if (locals.home)  {%>♦ INICIO</a>
                <% } else  {%>
                    INICIO </a>
                    <% } %>
            </p>
            <p class="texto-header">
                    <a href="<%= locals.productos ? '#'  : '/lista/productos' %>" style="color: black">
                        <% if (locals.list)  {%>♦ PRODUCTOS</a>
                        <% } else  {%>
                            PRODUCTOS </a>
                            <% } %>
            </p>
            <p class="texto-header">     
                    <a href="<%= locals.contactUs ? '#'  : '/contacto' %>" style="color: black">
                        <% if (locals.contactUs)  {%>♦ CONTACTO</a>
                        <% } else  {%>
                            CONTACTO </a>
                            <% } %>
            </p>
            <p class="texto-header"><a href="/sobre-nosotros" style="color:black">
                <% if (locals.aboutUs)  {%>♦ QUIENES SOMOS</a>
                <i class=""></i><% } else  {%>
                    QUIENES SOMOS </a>
                    <% } %>
            </p>
            <!-- <p class="texto-header">LO MAS NUEVO!
                <i class=""></i>
            </p>
            <p class="texto-header">OUTLET
                <i class=""></i>
            </p> -->
            <% if (locals.userLogin) { %>
                <p class="texto-header">
                    <!-- <input type="checkbox" id="cerrar-session-pc-tablet" class="cerrar-session-pc-tablet"> -->
                    <!-- <label for="cerrar-session-pc-tablet"> -->
                        <a href="/autenticacion/cerrar-sesion" class="boton-cerrar-sesion">
                        CERRAR SESIÓN
                    </a>
                    <!-- </label> -->
                </p>
                <% } %>
        </div>
    </div>

</header>