<header>
    <div class="encabezado">
       <marquee> <p class="descuento">15% off por transferecia - 3 cuotas sin interés  envío gratis a partir de los $30.000</p></marquee>
    </div>
    <div class="header-vista-movil">
        <div class="logo">

            <img  src= "/images/icon/imagen-header.png" alt="img-logo" class="img-header">
            <i class="zinke">zinke</i>
            <p class="lema">inspirate en tus instintos</p>
        </div>

        <div class="redirecciones">
            <div class="barra-productos">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div class="seleccionar-destino">

                <div class="home">
                    <a href="/"><i class="fa-solid fa-house"
                            style="<%= locals.home ? 'color: ' + home + ';' : 'color: gray;' %>"></i></a>
                    <p>inicio</p>
                </div>

                <div class="productos">
                    <a href="/producto-detalle"><i class="fa-solid fa-list"
                            style="<%= locals.productos ? 'color: ' + productos + ';' : 'color: gray;' %>"></i></a>
                    <p>productos</p>
                </div>

                <div class="carrito">
                    <a href="/carrito"><i class="fa-solid fa-cart-shopping"
                            style="<%= locals.carrito ? 'color: ' + carrito + ';' : 'color: gray;' %>"></i></a>
                    <p>carrito</p>
                </div>
            </div>

        </div>
    </div>
    <div class="header-vista-tablet-pc">
        <div class="logo">
            <div class="logo-zinke">
                <img src="/images/icon/imagen-header.png" alt="img-logo" class="img-header">
                <p class="Zinke">zinke</p>
            </div>
            <!-- barra de busqueda -->
            <form action="/resultados" method="get" class="barra-busqueda">
                <input type="text" name="keywords" placeholder="¿que estas buscando?"
                    class="barra-busqueda barra-busqueda-interior" required>
                <button class="barra-busqueda-icon"><i class="fa-solid fa-magnifying-glass "></i></button>
                </p>
            </form> 
            <% if (!locals.userLogin) { %>
            <% if (registro===false) { %>
                <% } else { %>
                    <a href="/autenticacion/registrar">
                        <p class="texto-header color-blanco">REGISTRARSE</p>
                    </a>
                    <% } %>

                        <% if (ingreso===false) { %>
                            <% } else { %>
                                <a href="/autenticacion/iniciar">
                                    <p class="texto-header color-blanco">INICIAR SESIÓN</p>
                                </a>
                                <% } %>
                                <% } else { %>
                                    <% if(locals.userLogin?.role === "REGULAR") {%>
                                    <a href="/users/perfil-usuario/<%= locals.userLogin?.id%>"><p class="texto-header" style="color: var(--blanco); font-size: var(--letra-grande)">Ver mi perfil</p></a>

                                    
                                    <a><p class="mensaje-userLogin" style=" color: var(--blanco);font-size: var(--letra-grande); ">¡Hola, <%= userLogin.name%>! ¡Vamos a brillar! 🌈💫<i class="fa-solid fa-star"></i></p></a>

                                    <% } else { %>

                                        <a href="/users/perfil-usuario/<%=locals.userLogin?.id%>"><p class="texto-header" style="color: var(--blanco); font-size: var(--letra-mediana); margin: 0px;">Ver mi perfil</p></a>

                                        <a href="/admin/productos"><p class="texto-header" style=" color: var(--blanco);font-size: var(--letra-mediana); ">¡Hola, <%= userLogin.name%>! 🟠 Administrar productos</p></a>

                                    <% } %>   

                                <% } %>

                                    <a href="/carrito">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </a>
        </div>
        <div class="redirecciones">
            <p class="texto-header">INICIO
                <i class=""></i>
            </p>
            <p class="texto-header">PRODUCTOS
                <i class=""></i>
            </p>
            <p class="texto-header">CONTACTO
                <i class=""></i>
            </p>
            <p class="texto-header">QUIENES SOMOS
                <i class=""></i>
            </p>
            <p class="texto-header">LO MAS NUEVO!
                <i class=""></i>
            </p>
            <p class="texto-header">OUTLET
                <i class=""></i>
            </p>
            <% if (locals.userLogin) { %>
            <p class="texto-header">
                <a href="/autenticacion/cerrar-sesion">CERRAR SESIÓN</a>
            </p>
            <% } %>
        </div>
    </div>
</header>