<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head", {view : "Crear producto"}) %>
<body>
    

<main class="crear-producto">

        <!--CONTENEDOR GLOBAL DE CREACIÓN DE PRODUCTO-->

    <div class="vista-producto-crear-editar-contenedor my-4">
          
            <!--BOTÓN DE RETORNO Y TÍTULO-->

        <div class="contenedor-titulo-boton-crear-editar d-flex flex-column flex-md-row justify-content-between">
            <a href="/admin/productos" class="btn btn-custom-crear-producto my-3 my-md-5 d-sm-block d-md-inline-block">Volver al listado</a>
            <h1 class="text-custom-crear-producto my-3 my-md-5 d-sm-block d-md-inline-block">Crear Producto</h1>
        </div>

        <!--FORMULARIOS DE DATOS-->

       <div class="card">
                    
        <form action="/admin/crear-productos" method="POST" class="my-5" enctype="multipart/form-data" id="form-create-product"> 

        <div class="container">
            <div class="d-flex row p-0 justify-content-center">
                <!--NOMBRE DEL PRODUCTO-->
                <div class="nombre-producto-crear-edit d-flex flex-column col-10 my-3 col-lg-5">
                    <label for="name" class="nombre-producto">Nombre del producto<span class="field-required text-danger"></span></label>                    
                    <input class="nombre-producto" type="text" name="name" id="name" value="">
                    <p class="text-danger error-name">


                    </p>
                </div>

                <!---PRECIO DEL PRODUCTO-->
                <div class="precio-producto-crear-edit d-flex flex-column col-10 my-3 col-lg-5">
                    <label for="price" class="precio-producto">Precio<span class="field-required text-danger"></span></label>
                    <input class="precio-producto" type="number" name="price" id="price" value="">
                    <p class="text-danger error-price">


                    </p>
                </div>

                <!--SELECCIÓN DE CATEGORÍA-->
                <div class="seleccionar-categoria my-3 col-10 col-lg-10">
                    <span class="field-required text-danger"></span>
                   <div class="contenedor-seleccionar-categoria col-lg-6">
                    
                    <select class="col-12 categoria-producto" id="category" name="category">
                        <option selected hidden>Categorías de producto<span class="field-required text-danger"></span></option>
                        <% categories.forEach(c => { %> 
                            <option value="<%= c.id %>" ><%= c.name %></option>
                        <% }) %>
                      
                    </select>
                      <i class="fa-solid fa-caret-down"></i>
                      <p class="text-danger error-category">


                      </p>
                    </div>
                </div>
                <!--SELECCIÓN DE DESCRIPCIÓN-->
               <div class="col-10 my-3 descripcion-producto-crear-editar">
                <div class="texarea-descripcion-mayor">
                    <span class="field-required text-danger"></span>
                    <textarea class="form-control my-1" placeholder="Descripción del producto" id="description" name="description" style="height: 200px"></textarea>
                </div>   
                <p class="text-danger error-description">

                 <!--SELECCIÓN DE DESCRIPCIÓN DESTACADA-->       
                </p> 
                <div class="textarea-descripcion-destacada">
                    <span class="field-required text-danger"></span>
                    <textarea class="form-control my-1" placeholder="Descripción destacada del producto" id="featuredDescription" name="featuredDescription"></textarea>
                </div>
                <p class="text-danger error-featuredDescription">

                        
                </p> 
                </div>

                <!--TALLES PRODUCTO-->
                <div class="talles-producto-crear-edit d-flex flex-wrap my-3 col-10 my-md-3">
                    <h3 class="titulo-talles col-12 my-3 my-lg-4">Talles<span class="field-required text-danger"></span></h3>

                    <% sizes.forEach(s => { %>
                        <div class="contenedor-talle d-flex align-items-center col-5 col-md-4 my-2 my-md-3 col-lg-2 mx-lg-2 my-lg-4">
                            <input type="checkbox" class="custom-checkbox" id="<%= s.size%>" autocomplete="off" name="talle<%=s.size%>" value="<%= s.id %>">
                            <i class="fa-solid fa-check"></i>                            
                            <label class="mx-2" for="<%= s.size %>"><%= s.size %></label>
                        </div>
                    <% }) %>
                    <p class="text-danger error-sizes"></p>



                  <!---  <div class="contenedor-talle d-flex align-items-center col-5 col-md-4 my-2 my-md-3 col-lg-2 mx-lg-2 my-lg-4">
                        <input type="checkbox" class="custom-checkbox" id="talle1" autocomplete="off" name="talle1">
                        <i class="fa-solid fa-check"></i>
                        <label class="mx-2" for="talle1">1</label>
                    </div>

                    <div class="contenedor-talle d-flex align-items-center col-5 col-md-4 my-2 my-md-3 col-lg-2 mx-lg-2 my-lg-4">
                        <input type="checkbox" class="custom-checkbox" id="talle2" autocomplete="off" name="talle2">
                        <i class="fa-solid fa-check"></i>
                        <label class="mx-2" for="talle2">2</label>
                    </div>

                    <div class="contenedor-talle d-flex align-items-center col-5 col-md-4 my-2 my-md-3 col-lg-2 mx-lg-2 my-lg-4">
                        <input type="checkbox" class="custom-checkbox" id="talle3" autocomplete="off" name="talle3">
                        <i class="fa-solid fa-check"></i>
                        <label class="mx-2" for="talle3">3</label>
                    </div>

                    <div class="contenedor-talle d-flex align-items-center col-5 col-md-4 my-2 my-md-3 col-lg-2 mx-lg-2 my-lg-4">
                        <input type="checkbox" class="custom-checkbox" id="talle4" autocomplete="off" name="talle4">
                        <i class="fa-solid fa-check"></i>
                        <label class="mx-2" for="talle4">4</label>
                    </div>

                    <div class="contenedor-talle d-flex align-items-center col-5 col-md-4 my-2 my-md-3 col-lg-2 mx-lg-2 my-lg-4">
                        <input type="checkbox" class="custom-checkbox" id="talle5" autocomplete="off" name="talle5">
                        <i class="fa-solid fa-check"></i>
                        <label class="mx-2" for="talle5">5</label>
                    </div> -->

                </div>

                <div class="colores-producto-editar-crear d-flex flex-wrap my-3 col-10 my-lg-4">
                    <h3 class="titulo-colores col-12 my-3 my-lg-4">Colores<span class="field-required text-danger"></span></h3>

                    <% colors.forEach(c => { %>
                        <div class="checkbox-color d-flex align-items-center col-6 my-2 col-md-4 my-md-3 col-lg-3 my-lg-4">
                        <input type="checkbox" class="input-color <%= c.name %>" id="<%= c.name %>" autocomplete="off" name="<%= c.name %>" value="<%= c.id %>">
                        <label class="label-color mx-2" for="<%= c.name %>"><%= c.name %></label>
                        </div>
                    <% }) %>
                    
                    <!----    <div class="checkbox-color d-flex align-items-center col-6 my-2 col-md-4 my-md-3 col-lg-3 my-lg-4">
                        <input type="checkbox" class="input-color black" id="black" autocomplete="off" name="black">
                        <label class="label-color mx-2" for="black">Negro</label>
                        </div>
                      
                        <div class="checkbox-color d-flex align-items-center col-6 my-2 col-md-4 my-md-3 col-lg-3 my-lg-4">
                        <input type="checkbox" class="input-color beige" id="beige" autocomplete="off" name="beige">
                        <label class="label-color mx-2" for="beige">Beige</label>
                        </div>

                        <div class="checkbox-color d-flex align-items-center col-6 my-2 col-md-4 my-md-3 col-lg-3 my-lg-4">
                        <input type="checkbox" class="input-color blue" id="blue" autocomplete="off" name="blue">
                        <label class="label-color mx-2" for="blue">Azul</label>
                        </div>

                        <div class="checkbox-color d-flex align-items-center col-6 my-2 col-md-4 my-md-3 col-lg-3 my-lg-4">
                        <input type="checkbox" class="input-color white" id="white" autocomplete="off" name="white">
                        <label class="label-color mx-2" for="white">Blanco</label>
                        </div>

                        <div class="checkbox-color d-flex align-items-center col-6 my-2 col-md-4 my-md-3 col-lg-3 my-lg-4">
                        <input type="checkbox" class="input-color red" id="red" autocomplete="off" name="red">
                        <label class="label-color mx-2" for="red">Rojo</label>
                        </div>
                        
                        <div class="checkbox-color d-flex align-items-center col-6 my-2 col-md-4 my-md-3 col-lg-3 my-lg-4">
                        <input type="checkbox" class="input-color green" id="green" autocomplete="off" name="green">
                        <label class="label-color mx-2" for="green">Verde</label>
                        </div>

                        <div class="checkbox-color d-flex align-items-center col-6 my-2 col-md-4 my-md-3 col-lg-3 my-lg-4">
                        <input type="checkbox" class="input-color purple" id="purple" autocomplete="off" name="purple">
                        <label class="label-color mx-2" for="purple">Violeta</label>
                        </div>

                        <div class="checkbox-color d-flex align-items-center col-6 my-2 col-md-4 my-md-3 col-lg-3 my-lg-4">
                        <input type="checkbox" class="input-color orange" id="orange" autocomplete="off" name="orange">
                        <label class="label-color mx-2" for="orange">Naranja</label>
                        </div>

                        <div class="checkbox-color d-flex align-items-center flex-wrap col-6 my-2 col-md-4 my-md-3 col-lg-3 my-lg-4">
                        <input type="checkbox" class="input-color lightblue" id="lightblue" autocomplete="off" name="lightblue">
                        <label class="label-color mx-2" for="lightblue">Celeste</label>
                        </div>

                        <div class="checkbox-color d-flex align-items-center col-6 my-2 col-md-4 my-md-3 col-lg-3 my-lg-4">
                        <input type="checkbox" class="input-color gray" id="gray" autocomplete="off" name="gray">
                        <label class="label-color mx-2" for="gray">Gris</label>
                        </div>
 
                        <div class="checkbox-color d-flex align-items-center col-6 my-2 col-md-4 my-md-3 col-lg-3 my-lg-4">
                        <input type="checkbox" class="input-color lavender" id="lavender" autocomplete="off" name="lavender">
                        <label class="label-color mx-2" for="lavender">Lila</label>
                        </div>

                        <div class="checkbox-color d-flex align-items-center col-6 my-2 col-md-4 my-md-3 col-lg-3 my-lg-4">
                        <input type="checkbox" class="input-color pink" id="pink" autocomplete="off" name="pink">
                        <label class="label-color mx-2" for="pink">Rosa</label>
                        </div>

                        <div class="checkbox-color d-flex align-items-center flex-wrap col-6 my-2 col-md-4 my-md-3 col-lg-3 my-lg-4">
                        <input type="checkbox" class="input-color silver" id="silver" autocomplete="off" name="silver">
                        <label class="label-color mx-2" for="silver">Plata</label>
                        </div>

                        <div class="checkbox-color d-flex align-items-center  flex-wrap col-6 my-2 col-md-4 my-md-3 col-lg-3 my-lg-4">
                        <input type="checkbox" class="input-color bluishGreen" id="bluishGreen" autocomplete="off" name="bluishGreen">
                        <label class="label-color mx-2" for="bluishGreen">Petroleo</label>
                        </div>

                        <div class="checkbox-color d-flex align-items-center flex-wrap col-6 my-2 col-md-4 my-md-3 col-lg-3 my-lg-4">
                        <input type="checkbox" class="input-color gold" id="gold" autocomplete="off" name="gold">
                        <label class="label-color mx-2" for="gold">Dorado</label>
                        </div> -->

                    </div>
                

                <!---------NUEVO - OFERTA---------->
                    <div class="nuevo-oferta d-flex my-3 col-10 my-md-5">
                   
                        <div class="nuevo col-6 col-md-4 col-lg-2">
                            <label class="" for="new">
                                <input type="radio" class="" name="neworsale" id="new" autocomplete="off" value="new">
                                <div class="nuevo-oferta-contenedor d-flex align-items-center justify-content-center">
                                <span>Nuevo</span>
                                </div>
                            </label>
                        </div>

                        <div class="oferta col-6 col-md-4 col-lg-2">
                            <label class="" for="sale">
                                <input type="radio" class="" name="neworsale" id="sale" autocomplete="off" checked value="sale">
                                <div class="nuevo-oferta-contenedor d-flex align-items-center justify-content-center">
                                    <span>Oferta</span>
                                </div>
                            </label>
                        </div>    
                    </div>

                <!------DISPONIBLE-------->
                <div class="form-check form-switch d-flex my-3 col-10 mx-auto my-md-3">
                    <div class="contenedor-switch col-10">
                        <input type="checkbox" class="input-switch-disponible" id="available" name="available">
                        <label class="mx-5" for="available">Disponible</label>
                    </div>
                </div>
            
        

                <!--SUBIR IMAGEN-->
                <div class="subir-imagen col-12 my-md-4 my-lg-5">
                    <h3 class="my-4 text-center col-12">Imagen producto<span class="field-required text-danger"></span></h3>
                    
                    <div class="contenedor-input-label-crear-producto">
                        <input id="image" class="input-imagen-crear-edit-producto" type="file" name="image" accept="image/*" value="" multiple  />
                        <label class="editar-crear-producto" for="image">
                        <div class="icono-archivo-imagen-crear-editar">
                            <i class="fa fa-download"></i>
                            <div>Seleccioná un archivo o arrastralo acá</div>
                            <span id="" class="btn btn-primary">Subí archivos</span>
                            <span class="mensaje-para-usuario-imagen-crear-edit">Formato de archivo no válido</span>
                        </div>
                        </label>
                    </div>  
          
                
                </div>

                <p class="text-danger error-imgs"></p> 

                <div class="boton-enviar-formulario-crear-editar col-10 my-3 d-flex justify-content-center my-md-2 my-lg-3 justify-content-lg-end">
                    <button type="submit" class="button-submit-crear-editar my-3">Crea tu producto</button>
                    <p class="text-danger col-12 text-center err-form-general alert alert-danger">Todos los campos son requeridos</p>
                </div>
              
            
                </div>

            </div>
            
        </form> 
        
        </div>
    </div>
    
</main>
<p class="text-danger col-12 text-center err-form-general"></p>


     
    <script src="/js/functions/validationCreateProduct.js"></script>
</body>
</html>