<!DOCTYPE html>
<html lang="en">
    

<%- include("../partials/head", {view : "Editar productos"}) %>

<body>
    <main class="editar-producto">
            <!-- Navegador Dashboard -->
        <div class="dashboard-admin-contenido">
        <div class="vista-editar-producto my-4 p-5 mx-auto">
            <!-- Volver al listado y Editar Producto -->
            <div class="contenedor-titulo-boton-editar d-flex flex-column flex-md-row justify-content-between">
                <a href="/admin/productos" class="btn btn-custom-editar-producto my-3 my-md-5 d-sm-block d-md-inline-block">Volver al listado</a>
                <h1 class="text-custom-editar-producto my-3 my-md-5 d-sm-block d-md-inline-block mx-auto">Editar Producto</h1>
            </div>
            <form action="/admin/editar-productos/<%= product.id %>?_method=PUT" method="POST" class="my-5"> 
                <div class="card">
                    <!-- Nombre y Precio del Producto -->
                    <div class="mb-3">
                        <label for="nombreProducto" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre-producto" placeholder="Nombre del producto" name="name" value="<%= product.name %>">
                    </div>
                    <div class="mb-3">
                        <label for="precioProducto" class="form-label">Precio:</label>
                        <input type="text" class="form-control" id="precio-producto" placeholder="Precio del producto" name="price" value="<%= product.price %>">
                    </div>
                    <!-- Categorías -->
                    <div class="form-floating">
                        <select class="form-select" id="seleccionCategoria" aria-label="Categorias de producto" name="category">
                            <option selected hidden class="texto-selector-categoria">Categorías de Producto</option>
                            <option <%= product.category === "Abrigos" ? "selected" : "" %> value="Abrigos">Abrigos</option>
                            <option <%= product.category === "Jeans" ? "selected" : "" %> value="Jeans">Jeans</option>
                            <option <%= product.category === "Buzos y sweaters" ? "selected" : "" %> value="Buzos y sweaters">Buzos y sweaters</option>
                            <option <%= product.category === "Remeras" ? "selected" : "" %> value="Remeras">Remeras</option>
                            <option <%= product.category === "Camisas y blusas" ? "selected" : "" %> value="Camisas y blusas">Camisas y blusas</option>
                            <option <%= product.category === "Tops" ? "selected" : "" %> value="Tops">Tops</option>
                            <option <%= product.category === "Pantalones y shorts" ? "selected" : "" %> value="Pantalones y shorts">Pantalones y shorts</option>
                            <option <%= product.category === "Vestidos y polleras" ? "selected" : "" %> value="Vestidos y polleras">Vestidos y polleras</option>
                            <option <%= product.category === "Cápsula Beige" ? "selected" : "" %> value="Cápsula Beige">Cápsula Beige</option>
                            <option <%= product.category === "Cápsula American" ? "selected" : "" %> value="Cápsula American">Cápsula American</option>
                            <option <%= product.category === "Cápsula 3024" ? "selected" : "" %> value="Cápsula 3024">Cápsula 3024</option>
                        </select>
                        <label for="catSeleccionada">Seleccionado</label>
                    </div>
                    <!-- Descripciones -->
                    <label for="descripcionProducto">Descripción:</label>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Describe el producto" id="descripcion-producto" style="height: 100px" name="description"><%= product.description %></textarea>
                    </div>
                    <label for="descripcionProducto">Descripción destacada:</label>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Describe el producto" id="desc-destacada" name="featuredDescription"><%= product.featuredDescription %></textarea>
                    </div>
                    <!-- Talles -->
                    <div class="talles-check">
                        <h3 class="titulo-talles col-12 my-3">Talles</h3>
                        <div class="form-check-talles">
                            <input class="form-check-input-talle" type="checkbox" value="" id="talle-1" name="talle1" <%= product.sizes[0] ? "checked" : "" %>>
                            <label class="form-check-label-talle" for="talle1">Talle 1</label>
                        </div>
                        <div class="form-check-talles">
                            <input class="form-check-input-talle" type="checkbox" value="" id="talle-2" name="talle2" <%= product.sizes[1] ? "checked" : "" %>>
                            <label class="form-check-label-talle" for="talle2">Talle 2</label>
                        </div>
                        <div class="form-check-talles">
                            <input class="form-check-input-talle" type="checkbox" value="" id="talle-3" name="talle3" <%= product.sizes[2] ? "checked" : "" %>>
                            <label class="form-check-label-talle" for="talle3">Talle 3</label>
                        </div>
                        <div class="form-check-talles">
                            <input class="form-check-input-talle" type="checkbox" value="" id="talle-4" name="talle4" <%= product.sizes[3] ? "checked" : "" %>>
                            <label class="form-check-label-talle" for="talle4">Talle 4</label>
                        </div>
                        <div class="form-check-talles">
                            <input class="form-check-input-talle" type="checkbox" value="" id="talle-5" name="talle5" <%= product.sizes[4] ? "checked" : "" %>>
                            <label class="form-check-label-talle" for="talle5">Talle 5</label>
                        </div>
                    </div>
                    <!-- Colores -->
                    <div class="colors-check">
                        <h3 class="titulo-colores col-12 my-3">Colores</h3>
                        <% product.colors.forEach(color => { %>
                            <div class="form-check-color">
                                <label class="form-check-label-color-black">
                                    <input class="form-check-input-color" type="checkbox" value="" id="black" name="black" <%= color === "black" ? "checked" : "" %>>
                                    <span class="form-check-span-color" for="black">Negro</span>
                                </label>
                            </div>
                            <div class="form-check-color">
                                <label class="form-check-label-color-beige">
                                    <input class="form-check-input-color" type="checkbox" value="" id="beige" name="beige" <%= color === "beige" ? "checked" : "" %>>
                                    <span class="form-check-span-color" for="beige">Beige</span>
                                </label>
                            </div>
                            <div class="form-check-color">
                                <label class="form-check-label-color-blue">
                                    <input class="form-check-input-color" type="checkbox" value="" id="blue" name="blue" <%= color === "blue" ? "checked" : "" %>>
                                    <span class="form-check-span-color" for="blue">Azul</span>    
                                </label>
                            </div>
                            <div class="form-check-color">
                                <label class="form-check-label-color-white">
                                    <input class="form-check-input-color" type="checkbox" value="" id="white" name="white" <%= color === "white" ? "checked" : "" %>>
                                    <span class="form-check-span-color" for="white">Blanco</span>
                                </label>
                            </div>
                            <div class="form-check-color">
                                <label class="form-check-label-color-red">
                                    <input class="form-check-input-color" type="checkbox" value="" id="red" name="red" <%= color === "red" ? "checked" : "" %>>
                                    <span class="form-check-span-color" for="red">Rojo</span>     
                                </label>
                            </div>
                            <div class="form-check-color">
                                <label class="form-check-label-color-green">
                                    <input class="form-check-input-color" type="checkbox" value="" id="green" name="green" <%= color === "green" ? "checked" : "" %>>
                                    <span class="form-check-span-color" for="green">Verde</span>
                                </label>
                            </div>
                            <div class="form-check-color">
                                <label class="form-check-label-color-violet">
                                    <input class="form-check-input-color" type="checkbox" value="" id="purple" name="purple" <%= color === "purple" ? "checked" : "" %>>
                                    <span class="form-check-span-color" for="purple">Violeta</span>
                                </label>
                            </div>
                            <div class="form-check-color">
                                <label class="form-check-label-color-orange">
                                    <input class="form-check-input-color" type="checkbox" value="" id="orange" name="orange" <%= color === "orange" ? "checked" : "" %>>
                                    <span class="form-check-span-color" for="orange">Naranja</span>
                                </label>
                            </div>
                            <div class="form-check-color">
                                <label class="form-check-label-color-lightblue">
                                    <input class="form-check-input-color" type="checkbox" value="" id="lightblue" name="lightblue" <%= color === "lightblue" ? "checked" : "" %>>
                                    <span class="form-check-span-color" for="lightblue">Celeste</span>
                                </label>
                            </div>
                            <div class="form-check-color">
                                <label class="form-check-label-color-gray">
                                    <input class="form-check-input-color" type="checkbox" value="" id="gray" name="gray" <%= color === "gray" ? "checked" : "" %>>
                                    <span class="form-check-span-color" for="gray">Gris</span>
                                </label>
                            </div>
                            <div class="form-check-color">
                                <label class="form-check-label-color-lila">
                                    <input class="form-check-input-color" type="checkbox" value="" id="lavender" name="lavender" <%= color === "lavender" ? "checked" : "" %>>
                                    <span class="form-check-span-color" for="lavender">Lila</span>
                                </label>
                            </div>
                            <div class="form-check-color">
                                <label class="form-check-label-color-rose">
                                    <input class="form-check-input-color" type="checkbox" value="" id="pink" name="pink"<%= color === "pink" ? "checked" : "" %>>
                                    <span class="form-check-span-color" for="pink">Rosa</span>
                                </label>
                            </div>
                            <div class="form-check-color">
                                <label class="form-check-label-color-plated">
                                    <input class="form-check-input-color" type="checkbox" value="" id="silver" name="silver" <%= color === "silver" ? "checked" : "" %>>
                                    <span class="form-check-span-color" for="silver">Plateado</span>
                                </label>
                            </div>
                            <div class="form-check-color">
                                <label class="form-check-label-color-petroleo">
                                    <input class="form-check-input-color" type="checkbox" value="" id="bluishGreen" name="bluishGreen" <%= color === "bluishGreen" ? "checked" : "" %>>
                                    <span class="form-check-span-color" for="bluishGreen">Petróleo</span>
                                </label>
                            </div>
                            <div class="form-check-color">
                                <label class="form-check-label-color-gold">
                                    <input class="form-check-input-color" type="checkbox" value="" id="gold" name="gold" <%= color === "gold" ? "checked" : "" %>>
                                    <span class="form-check-span-color" for="gold">Oro</span>
                                </label>
                            </div>
                        <% }); %>
                    </div>
                    <!-- Nuevo - Oferta -->
                    <h3 class="titulo-nuevo-oferta col-12 my-3">Producto Nuevo o En Oferta</h3>
                    <div class="nuevo-oferta d-flex my-3 col-10 my-md-5">
                        <div class="nuevo col-6 col-md-4 col-lg-2">
                            <label class="" for="option1">
                                <input type="radio" class="" name="neworsale" id="option1" autocomplete="off" <%= product.new ? "checked" : "" %>>
                                <div class="nuevo-oferta-contenedor d-flex align-items-center justify-content-center">
                                <span>Nuevo</span>
                                </div>
                            </label>
                        </div>
    
                        <div class="oferta col-6 col-md-4 col-lg-2">
                            <label class="" for="option2">
                                <input type="radio" class="" name="neworsale" id="option2" autocomplete="off" <%= product.sale ? "checked" : "" %>>
                                <div class="nuevo-oferta-contenedor d-flex align-items-center justify-content-center">
                                    <span>Oferta</span>
                                </div>
                            </label>
                        </div>    
                    </div>
                    <!-- Disponible -->
                    <div class="form-check form-switch d-flex my-3 col-10 mx-auto my-md-3">
                        <div class="contenedor-switch col-10">
                            <input type="checkbox" class="input-switch-disponible" id="available" name="available" <%= product.available ? "checked" : "" %>>
                            <label class="mx-5" for="available">Disponible</label>
                        </div>
                    </div>
                    <!-- Subir imagen -->
                    <div>
                        <input class="form-control form-control-lg" id="formFileLg" type="file" name="image" accept="image/*" value="" multiple>
                    </div>
    
                    <div class="boton-enviar-formulario-crear-editar col-10 my-3 d-flex justify-content-center my-md-2 my-lg-3 justify-content-lg-end">
                        <button type="submit" class="button-submit-crear-editar my-3"><a href="/admin/productos" class="btn btn-custom-crear-edit-producto">Enviar cambios</a></button>
                    </div>
                </div>
            </form>
            

            </div>
        </div>
        </div>
    </main>
</body>