<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head", {view : "Editar productos"}) %>

<body>
    <main class="editar-producto">
        <!-- Navegador Dashboard -->
        <div class="dashboard-admin-contenido">
            <div class="vista-editar-producto my-4 p-5 mx-auto">
                <!-- Volver al listado y Editar Producto -->
                <div class="contenedor-titulo-boton-editar d-flex flex-column flex-md-row justify-content-between">
                    <a href="/admin/productos" class="btn btn-custom-editar-producto my-3 my-md-5 d-sm-block d-md-inline-block">Volver al listado</a>
                    <h1 class="text-custom-editar-producto my-3 my-md-5 d-sm-block d-md-inline-block mx-auto">Editar Producto</h1>
                </div>
                <div class="card">
                    <form action="/admin/editar-productos/<%= product.id %>?_method=PUT" method="POST" class="my-5" enctype="multipart/form-data">
                        <!-- Nombre y Precio del Producto -->
                        <div class="mb-3">
                            <label for="nombreProducto" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="nombre-producto" placeholder="Nombre del producto" name="name" value="<%= product.name %>">
                        </div>
                        <div class="mb-3">
                            <label for="precioProducto" class="form-label">Precio:</label>
                            <input type="text" class="form-control" id="precio-producto" placeholder="Precio del producto" name="price" value="<%= product.price %>">
                        </div>
                        <!-- Categorías -->
                        <div class="form-floating">
                            <select class="form-select" id="seleccionCategoria" aria-label="Categorias de producto" name="category">
                                <option selected hidden class="texto-selector-categoria">Categorías de Producto</option>
                                <% categories.forEach(c => { %>
                                    <option <%= product.id_category === c.id ? "selected" : "" %> value="<%= c.id %>"><%= c.name %></option>
                                <% }) %>
                            </select>
                            <label for="catSeleccionada">Seleccionado</label>
                        </div>
                        <!-- Descripciones -->
                        <label for="descripcionProducto">Descripción:</label>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Describe el producto" id="descripcion-producto" style="height: 100px" name="description"><%= product.description %></textarea>
                        </div>
                        <label for="descripcionProducto">Descripción destacada:</label>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Describe el producto" id="desc-destacada" name="featuredDescription"><%= product.featuredDescription %></textarea>
                        </div>
                        <!-- Talles -->
                        <div class="talles-check">
                            <h3 class="titulo-talles col-12 my-3">Talles</h3>
                            <% sizes.forEach(size => { %>
                                <div class="form-check-talles">
                                    <input class="form-check-input-talle" type="checkbox" value="<%= size.id %>" id="<%= size.size %>" name="talle<%= size.size %>" <% if (pivotSizes.find(ps => ps.Size.id === size.id)) { %> checked <% } %>>
                                    <label class="form-check-label-talle" for="talle<%= size.size %>">Talle <%= size.size %></label>
                                </div>
                            <% }) %>
                        </div>
                        <!-- Colores -->
                        <div class="colors-check">
                            <h3 class="titulo-colores col-12 my-3">Colores</h3>

                            <% const colorsSpanish = {
                                "black": "Negro",
                                "beige": "Beige",
                                "blue": "Azul",
                                "white": "Blanco",
                                "red": "Rojo",
                                "green": "Verde",
                                "purple": "Violeta",
                                "orange": "Naranja",
                                "lightblue": "Celeste",
                                "gray": "Gris",
                                "lavender": "Lila",
                                "pink": "Rosa",
                                "silver": "Plata",
                                "bluishGreen": "Petróleo",
                                "gold": "Oro"
                            }; %>
                            <% colors.forEach(color => { %>    
                                <div class="form-check-color">
                                    <label class="form-check-label-color-<%= color.name %>">
                                        <input class="form-check-input-color" type="checkbox" value="<%= color.id %>" id="<%= color.name %>" name="<%= color.name %>" <% if (pivotColors.find(pc => pc.Color.id === color.id)) { %> checked <% } %>>
                                        <span class="form-check-span-color" for="<%= color.name %>"><%= colorsSpanish[color.name] %></span>
                                    </label>
                                </div>
                            <% }) %>
                        </div>
                        <!-- Nuevo - Oferta -->
                        <h3 class="titulo-nuevo-oferta col-12 my-3">Producto Nuevo o En Oferta</h3>
                        <div class="nuevo-oferta-contenedor d-flex flex-wrap-wrap">
                            <div class="nuevo-oferta d-flex my-3 col-6 my-md-5">
                                <div class="nuevo col-6 col-md-4 col-lg-2">
                                    <label class="" for="option1">
                                        <input type="radio" class="" name="neworsale" id="option1" autocomplete="off" value="new" <%= product.new ? "checked" : "" %>>
                                        <div class="nuevo-oferta-contenedor d-flex align-items-center justify-content-center">
                                            <span>Nuevo</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="nuevo-oferta d-flex my-3 col-6 my-md-5">
                                <div class="oferta col-6 col-md-4 col-lg-2">
                                    <label class="" for="option2">
                                        <input type="radio" class="" name="neworsale" id="option2" autocomplete="off" value="sale"<%= product.sale ? "checked" : "" %>>
                                        <div class="nuevo-oferta-contenedor d-flex align-items-center justify-content-center">
                                            <span>Oferta</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- Disponible -->
                        <h3 class="titulo-nuevo-oferta col-12 my-3">Estado</h3>
                        <div class="form-check form-switch d-flex my-3 col-10 mx-auto my-md-3">
                            <div class="contenedor-switch col-10">
                                <input type="checkbox" class="input-switch-disponible" id="available" name="available" value="1" <%= product.available ? "checked" : "" %>>
                                <label class="mx-5" for="available">Disponible</label>
                            </div>
                        </div>
                        <!-- Subir imagen -->
                        <div>
                            <input class="form-control form-control-lg" id="formFileLg" type="file" name="image" accept="image/*" multiple>
                            <ul>
                                <% product.Images.forEach(image => { %>
                                    <li><%= image.name %></li>
                                <% }) %>
                            </ul>
                            <p class="text-danger col-12">
                                <%= locals.errors?.image?.msg %>
                            </p>
                        </div>

                        <div class="boton-enviar-formulario-crear-editar col-10 my-3 d-flex justify-content-center my-md-2 my-lg-3 justify-content-lg-end">
                            <button type="submit" class="button-submit-crear-editar my-3">Enviar cambios</button>
                            <button class="button-submit-crear-editar my-3 mx-5"><a href="/admin/productos">Cancelar</a></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>