<!DOCTYPE html>
<html class="menu">
<html>

  <%- include("../partials/head", {view : "Listado productos"}) %>


<body class="body-admin-list-products">

  <main>
    <!-- Navegador Dashboard -->
    <div class="dashboard-admin-contenido">
    


    <!-- Table -->
    <div class="dashboard-admin-content">
      <h1 class="titulo">LISTA DE PRODUCTOS</h1>

      <a href="/admin/crear-productos" class="btn btn-primary crear-producto-btn">Crear Producto</a>
      <div class="contenedor-tabla">
        <table class="table table-list-products">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Imagen</th>
              <th scope="col">Nombre</th>
              <th scope="col">Descripción</th>
              <th scope="col">Descripción Destacada</th>
              <th scope="col">Categoría</th>
              <th scope="col">Colores</th>
              <th scope="col">Precio</th>
              <th scope="col">Talle</th>
              <th scope="col">Nuevo</th>
              <th scope="col">Oferta</th>
              <th scope="col">Disponible</th>
            </tr>
          </thead>
          <tbody>
          
            <% products.forEach(p => { %>
              <tr>
                <th scope="row"><%= p.id %></th>
              
                <td><% p.images.forEach(img => { %>
                  <img class="img-product" src="/images/products/<%= img.name %>" alt="" 
                 style="width: 50px;height: 50px;object-fit: cover;"> 
                <% }) %></td>
        
                <td class=""><%= p.name %></td>
                <td class=""><%= p.description %></td>
                <td class=""><%= p.featuredDescription %></td>
                <td class=""><%= p.category?.name %></td>
                <% const colorsSpanish = { 
                  "black": "Negro",
                  "beige": "Beige",
                  "blue": "Azul",
                  "white": "Blanco",
                  "red": "Rojo",
                  "green": "Verde",
                  "purple": "Violeta",
                  "orange": "Naranja",
                  "lightblue": "Celeste",
                  "gray": "Gris",
                  "lavender": "Lila",
                  "pink": "Rosa",
                  "silver": "Plata",
                  "bluishGreen": "Petróleo",
                  "gold": "Oro"
              }; %>
                <td>
                  
                  <% for (let i= 0; i <  p.colors.length; i++) {%>
                    <% if(p.colors[i]) {%>
                    <%= colorsSpanish[p.colors[i].name]%>
                    <% } %>
                  <%}%>
                </td>
                <td class=""><%= p.price %></td>
                <td class="">
                  <% for (let i= 0; i <  p.sizes.length; i++) {%>
                    <%= p.sizes[i].size%>
                  <%}%>
                </td>
                <td class=""><%= p.new ? "✔️" : "❌" %></td>
                <td class=""><%= p.sale ? "✔️" : "❌" %></td>
                <td class=""><%= p.available ? "✔️" : "❌" %></td>
                <td>
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="/producto-detalle/<%= p.id %>" class="btn acc-btn btn-info d-inline-block info">Info</a>
                    <a href="/admin/editar-productos/<%= p.id %>" class="btn acc-btn btn-warning d-inline-block editar">Editar</a>
                   <button class="button"><a href="/admin/eliminar-producto?id=<%= p.id %>&<%=p.name = p.name %>" class="btn acc-btn btn-danger d-inline-block eliminar">Eliminar</a></button>
                   <!-- <form action="/admin/eliminar-producto/<%= p.id %>&<%=p.name = p.name %>?_method=DELETE" method="post"
                    enctype="multipart/form-data">
                     <button type="submit" class="">Eliminar</button>  -->
                    <!-- <button type="button" class="btn btn-danger" onclick="confirmarEliminacionBootstrap(productoId)">Eliminar</button> -->

                <!-- </form> 
                <!- <form action="/admin/eliminar-producto/<%#=p.id %>?_method=DELETE" method="post" class="d-flex justify-content-around">
                  <button type="submit" class="btn btn-delete">Eliminar</button>
                  <a href="/admin/productos" class="btn btn-cancel">Cancelar</a>
                </form> -->
                  </div>
                </td>  
              </tr>
            <% }) %>
              
          </tbody>
        </table>
      </div>
    </div>

  </div>
  </main>
  <!-- Boostrap scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>