<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head", {view : "carrito" }) %>

    <body>
        <%- include("../partials/header", {carrito : "black" , registro: true,ingreso: true}) %>

            <main class="main-carrito">

                <!-- por si no hay nada en este -->
                <div class="carrito-vacio">
                    <p><i class="fa-solid fa-bag-shopping"></i></p>
                    <p class="texto-1">no hay nada en el</p>
                    <p class="texto-2">carrito</p>
                    <p class="explorar-carrito">explorar</p>
                </div>
                <!-- cuando tenes algo en el carrito -->

                <div class="vista-carrito-con-productos">

                    <div class="productos" id="carrito">

                        <!-- <div class="info-compra">
                            <div class="info-datos-img">

                                <input type="checkbox" id="boton-carrito-colores-1" class="input-carrito-colores" style="display: none;">

                                <img src="/images/products/norm-core.png" alt="imagen-de-carrito" class="img-carrito">
                                <div class="producto-info">
                                    <p class="datos-producto">nombre del producto</p>
                                    <p class="datos-producto">precio $1</p>
                                    <p class="datos-producto">cantidad - 1 +</p>
                                    <p class="datos-producto">talle: 1 </p>
                                    <p class="datos-producto">color: 
                                        <i class="fa-regular fa-circle" style="background-color: black;"></i>&nbsp;
                                        <label for="boton-carrito-colores-1"><i class="fa-solid fa-caret-down"></i></label> 
                                    </p>
                                            <div class="colores-opciones">
                                                <i class="fa-regular fa-circle" style="background-color: black;"></i>
                                                <i class="fa-regular fa-circle" style="background-color: black;"></i>
                                                <i class="fa-regular fa-circle" style="background-color: black;"></i>
                                                <i class="fa-regular fa-circle" style="background-color: black;"></i>
                                                <i class="fa-regular fa-circle" style="background-color: black;"></i>
                                            </div>
                                </div>
                            </div>
                            <div><i class="fa-solid fa-trash"></i></div>
                        </div> -->
                    </div>


                    <input type="checkbox" id="boton-carrito" class="input-carrito" style="display: none;">
                    <div class="boton-de-cerrar">

                        <label for="boton-carrito">

                            <i class="fa-solid fa-chevron-up"></i>
                        </label>
                    </div>
                    <div class="botones">

                        <button class="vaciar" id="vaciar">Vaciar carrito</button>


                        <a class="mirar" href="/lista/productos">
                            <!-- <a href="/" class="text-white bg-dark"> -->
                                Seguir mirando
                            <!-- </a> -->
                        </a>
                        <button id="comprar" class="comprar">Comprar</button>

                        <div class="precio">
                            <p class="texto-carrito">Total: $<output id="total">0</output> </p>
                        </div>
                    </div>


                </div>


                <!-- recomendaciones -->
                <!-- <section class="otrosFav">
                    <h3 class="otrosFav">OTROS FAV</h3>
                    <div class="contenedor-otros-productos">
                        <% products.forEach((p, index)=> { %>

                            <% if(index <=3) { %>

                                <article class="productos-otrosFav dos-continentes">
                                    <img class="blazer-dos-conti" src="/images/products/<%= p.image[0]%>"
                                        alt="<%= p.name%>">
                                    <a href="/producto-detalle/<%= p.id%>" class="a-dos-conti">
                                        <h4 class="h4-dos-conti">
                                            <%= p.name%>
                                        </h4>
                                    </a>
                                    <p class="p-dos-conti">
                                        <%= p.price%>
                                    </p>
                                </article>

                                <% } %>
                                    <% }) %>
                    </div>
                </section> -->

            </main>

            <%- include("../partials/footer") %>

                <script src="/js/functions/cart.js"></script>
    </body>

</html>