<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head", {view : "perfil-usuario" }) %>

    <body>
        <%- include("../partials/header", {perfil: "black" ,registro: false,ingreso: false}) %>


            <main class="perfil-usuario">

                <!---------------REGISTRO MEDIANTE FORMULARIOS--------------------->

                <section class="section-inputs-registro">
                    <h3 class="titulo-registro-inputs">Perfil de <%= user?.name%>
                    </h3>
                    <form class="form-inputs-registro" action="/users/perfil-usuario/<%= user.id %>?_method=PUT" method="post" id="user-form">

                        <!--------NOMBRE Y APELLIDO----------->

                        <div class="nombreApellidoRegister">
                            <label for="nombreApellido" style="position: initial;"></label>
                            <span class="error-name">
                                <%= errors?.name?.msg %>
                            </span>
                            <input type="text" id="nombreApellido" name="name" class="nombreApellido"
                                value="<%= locals.old && old.name ? old.name: user.name%>"
                                placeholder="Nombre y apellido">


                            <!-- <span class="text-danger">&nbsp;</span> -->


                        </div>

                        <!--------NOMBRE DE USUARIO----------->

                        <div class="nombreDelaCuentaRegister">
                            <label for="nombreDeCuenta"></label>
                            <span class="error-username" style="position: initial;">
                                <%= errors?.username?.msg %>
                            </span>
                            <input type="text" id="nombreDeCuenta"
                                value="<%= locals.old && old.username ? old.username: user.username %>" name="username"
                                class="nombreDeCuenta" placeholder="Nombre de usuari@...">


                            <!-- <span class="text-danger">&nbsp;</span> -->
                        </div>

                        <!-------EMAIL DE REGISTRO------->

                        <div class="emailregistro">
                            <label for="email"></label>
                            <span class="error-email" style="position: initial;">
                                <%= errors?.email?.msg %>
                            </span>
                            <input type="email" id="email" value="<%= locals.old && old.email ? old.email: user.email%>"
                                name="email" class="email" placeholder="Dirección de correo electrónico">



                            <!-- <p class="error-email"></p> -->
                        </div>
                        </div>

                        <!---CONTRASEÑA-->

                        <div class="contraseniaRegister">
                            <label for="contrasenia"></label>
                            <span class="error-password" style="position: initial;">
                                <%= errors?.password?.msg %>
                            </span>
                            <input type="password" id="contrasenia" name="password" class="contrasenia"
                                placeholder="Nueva contraseña">

                            <!-- <span class="text-danger">&nbsp;</span> -->


                        </div>

                        <!---CONFIRMACIÓN CONTRASEÑA-->

                        <div class="contraseniaConfirRegister">
                            <label for="contraseniaConfir"></label>
                            <span class="error-passwordConfirm" style="position: initial;">
                                <%= errors?.passwordConfirm?.msg %>
                            </span>
                            <input type="password" id="contraseniaConfir" name="passwordConfirm"
                                class="contraseniaConfir" placeholder="Confirmar nueva contraseña">

                            <!-- <span class="text-danger">&nbsp;</span> -->

                        </div>




                        <!---BOTÓN ENVIAR-->
                        <div class="contenedor-boton-register col-6 d-flex justify-content-center">
                            <button type="submit" class="boton-register boton-actualizar">ACTUALIZAR DATOS</button>
                            <button type="submit" class="boton-register boton-cancelar"><a href="/">CANCELAR</a></button>
                        </div>                        
                    </form>
                    <form action="/users/eliminar-usuario/<%= user.id %>" method="post" class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-danger-custom">Confirmar</button>
                    </form>
                </section>


                <!-----------REGISTRO CON REDES SOCIALES--------------->
                <article class="article-redes-sociales-register">
                    <h3 class="redes-sociales-register-titulo">Recorda que podés registrarte con...</h3>
                    <div class="imagenes-redes-sociales">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-google"></i>
                    </div>
                </article>

            </main>

            <%- include("../partials/footer") %>


    </body>
    <script src="/js/functions/validationUpdateUser.js"></script>

</html>